nav{
    height: 5rem;
    width: 100%;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;left: 0;
    z-index: 99;
}

/* only show on medium and small screen */
.nav__toggle-btn{
    display: none;
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: --transition;
}

.logo{
    width: 7rem;
}

.nav__links{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav__links a{
    padding: .1rem;
    margin: .1rem;
    transition: var(--transition-f);
}
.nav__links a:hover{
    color: var(--color-secondary);
    /* border-top: .5rem groove rgb(255, 51, 0);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%; */
}


.active-nav{
    position: relative;
    color: var(--color-secondary);
    border-bottom: .5rem groove rgb(94, 255, 0);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}
.active-nav::after{
    content: '';
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}




/* media queries (medium and small) screens) */
@media screen and (max-width: 780px){
    .nav__toggle-btn{
       display: inline-block;
       background: transparent;
       font-size: 1.8rem;
       cursor: pointer;
    }
    .nav__toggle-btn svg{
        color: var(--color-gray-100);
    }
    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }
    .active-nav , .active-nav::after{
        display: none;
    }
    
    .nav__links li{
        height: 4rem;
        width: 100%;
        box-shadow: -1rem 2rem 4rem
        rgba(0, 0, 0, 0.9);
        animation: navAnimation 600ms ease forwards;
        opacity: 0;
        transform-origin: top;
    }
    .nav__links li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav__links li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav__links li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav__links li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav__links li:nth-child(6){
        animation-delay: 1000ms;
    }

    @keyframes navAnimation{
        to{
            transform: rotateX(0);
            opacity: 1;
        }
    }
    .nav__links li a{
        background: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }
    .show__nav{
        display: flex;
    }
    .hide__nav{
        display: none;
    }
}